AngularProject/Report.docx
AngularProject/demo-html.png
AngularProject/output.png
DesignSell/Report.docx
DesignSell/output.png
DesignSell/SourceCode.zip
TeamBudgetPlanner/Report.docx
TeamBudgetPlanner/output_1.png
TeamBudgetPlanner/output_2.png
TeamBudgetPlanner/output_3.png
TeamBudgetPlanner/SourceCode.zip
SimplyBlogging/Report.docx
SimplyBlogging/output_1.png
SimplyBlogging/output_2.png
SimplyBlogging/output_3.png
SimplyBlogging/SourceCode.zip
CartManagement/Report.docx
CartManagement/output_1.png
CartManagement/output_2.png
CartManagement/SourceCode.zip
MyPortfolio/Report.docx
MyPortfolio/output_1.png
MyPortfolio/output_2.png
MyPortfolio/output_3.png
MyPortfolio/SourceCode.zip
TestApp/Report.docx
TestApp/output_1.png
TestApp/output_2.png
TestApp/output_3.png
TestApp/output_4.png
TestApp/SourceCode.zip
TaskTracker/Report.docx
TaskTracker/output_1.png
TaskTracker/output_2.png
TaskTracker/output_3.png
TaskTracker/output_4.png
TaskTracker/SourceCode.zip
RecordLogs/Report.docx
RecordLogs/output_1.png
RecordLogs/output_2.png
RecordLogs/SourceCode.zip
TaskPlanner/Report.docx
TaskPlanner/output_1.png
TaskPlanner/output_2.png
TaskPlanner/output_3.png
TaskPlanner/SourceCode.zip
ChattingSocketIO/Report.docx
ChattingSocketIO/output_1.png
ChattingSocketIO/output_2.png
ChattingSocketIO/output_3.png
ChattingSocketIO/SourceCode.zip
CallRecordAnalysis/Report.docx
CallRecordAnalysis/output_1.png
CallRecordAnalysis/SourceCode.zip
