AngularProject/Report.docx
AngularProject/demo-html.png
AngularProject/output.png
DesignSell/Report.docx
DesignSell/output.png
DesignSell/SourceCode.zip
TeamBudgetPlanner/Report.docx
TeamBudgetPlanner/output_1.png
TeamBudgetPlanner/output_2.png
TeamBudgetPlanner/output_3.png
TeamBudgetPlanner/SourceCode.zip
