AngularProject/Report.docx
AngularProject/demo-html.png
AngularProject/output.png
DesignSell/Report.docx
DesignSell/output.png
DesignSell/SourceCode.zip
TeamBudgetPlanner/Report.docx
TeamBudgetPlanner/output_1.png
TeamBudgetPlanner/output_2.png
TeamBudgetPlanner/output_3.png
TeamBudgetPlanner/SourceCode.zip
SimplyBlogging/Report.docx
SimplyBlogging/output_1.png
SimplyBlogging/output_2.png
SimplyBlogging/output_3.png
SimplyBlogging/SourceCode.zip
CartManagement/Report.docx
CartManagement/output_1.png
CartManagement/output_2.png
CartManagement/SourceCode.zip
MyPortfolio/Report.docx
MyPortfolio/output_1.png
MyPortfolio/output_2.png
MyPortfolio/output_3.png
MyPortfolio/SourceCode.zip
