<div>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let question of questions; index as i" [formGroup]="qFormGroup" >
            <label>{{question.id}}: {{question.desc}}</label><br/>
            <!-- <input type="text" formControName="i"/> -->
            <input type="radio" name="option1" formControlName="option1" value=0/>
            <label for="option1">{{question.options[0].desc}}</label><br/>
            <input type="radio" name="option1" formControlName="option1" value=1/>
            <label for="option1">{{question.options[1].desc}}</label><br/> 
            <input type="radio"  name="option1" formControlName="option1" value=2/>
            <label for="option1">{{question.options[2].desc}}</label><br/>
            <input type="radio"  name="option1" formControlName="option1" value=3/>
            <label for="option1">{{question.options[3].desc}}</label><br/>
            <input type="button" formControlName="save" (click)="onSave(i)"/> 
        </div> 
        <input type="submit"/>
    </form>
</div>