<div [formGroup]="form">
    <label [attr.for]="question.id">{{question.desc}}</label>
    <!-- <input type="radio" *ngFor="let option of question.options" [value]="option.id" [name]="'q'+question.id" [formControlName]="'q' + question.id"/> -->
    <!-- <input type="button" value="save" [formControlName]="'save' + question.id"/> -->
   <input type="radio" *ngFor="let option of question.options" [value]="option.id" [name]="question.id" [formControlName]="question.id"/>
    <input type="button" value="save" (click)="onSave(question.id)"/>
</div>