<h3>Welcome {{user}},</h3>
<div class="col-7">
    <div class="row"></div>
    <div class="row">
    <input class="btn btn-link" type="button" value="Logout" (click)="logout()"/>
    </div>
</div>
<div class="col-4">
    <form #contactRef="ngForm" (ngSubmit)="getContactInfo(contactRef.value)" class="mb-3">
        <label class="form-label">Contact Name </label>
        <input class="form-control" type="text" name="contactName" ngModel/><br/>
        <label class="form-label">Phone No. </label>
        <input class="form-control" type="text" name="phone" ngModel><br/>
        <input class="btn btn-primary" type="submit" value="Save"><br/>
    </form>
</div>
<hr/>
<div class="col-4">
    <h3>Contact Details</h3>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>Contact Name</th> 
                <th>Phone</th>
            </tr>
        </thead>
        <tbody *ngFor="let contact of contacts">
            <tr>
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>
